*{
	margin:0;
	padding: 0;
}
body, html {
	height: 100%;
	background: #ffffff;
	}
	.hero {
	background-image: url(https://s19.postimg.org/3ssv2kxw3/hero.png);
	height: 60%;
	margin-top: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: white;
	text-align: center;
	width: 100%;
	}
h1 {
	position: center;
	position: relative;
	font-family: 'Rochester', cursive;
	font-size: 6em;
	padding-top:20px;
	}
h2 {
	font-family: Arial, Helvetica, San-Serif;
	text-align: left;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 15%;
	margin-right: 10%;
	font-size: 1.5em;
	}
	.about {
	text-align: left;
	width: 30%;
	margin-left: 15%;
	margin-right: 10%;
	color: #404040;
	font-family: Arial, Helvetica, San-Serif;
	position: relative;
	background-position: center;
	}
	.bullet{
	text-align: left;;
	margin-left: 17%;
	margin-right: 10%;
	color: #404040;
	font-family: Arial, Helvetica, San-Serif;
	position: relative;
	background-position: relative;	
	line-height: 1.5em;
	}
	.about div p {
		width: 50%;
	}
	.slogan {
	font-family: Arial, Helvetica, San-Serif;
	font-weight: 20px;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 20px;
	}
	.contact {
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	font-family: Arial, Helvetica, San-Serif;
	}
	.row {
	/*column-count: 4;*/
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	list-style-type: 
	}
	.mid-image{
	margin-left:2%;
	margin-right:2%;
	display: inline-block;
	vertical-align: top;
	}
	.col-1{
	/*margin-top: 10px;*/
	}
	.center{
	padding-top:10%;
	}
	.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
    position: relative;
	}
	.nav {
	background-color: gray;
	height: 80px;
	width: 100%;
	display: inline-block;
	font-size: 1em;
	position: relative;
	}
	.nav ul li {
	list-style-type: none;
	width: 19%;
	float: left;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	height: 80px;
	margin: 0 auto;
	font-size: 1em;
	position: relative;
	}
	.nav ul li a {
	text-decoration: none;
	color: white;
	font-family: Arial, Helvetica, San-Serif;
	line-height: 80px;
	display: block;
	}
	.nav div ul li {
		display: inline-block;
		text-align: center;
	}
	}
	#mytopnav {
		text-align: center;
		margin:0px;
	}
header{
		text-align: center;
	}
nav ul li a:hover {
	background-color: #404040;
	text-align: center
}
p {
	margin-bottom: 20px;
}
	.shop-1{
	text-align: center;
	}
	.shop-bras {
	width: 85%;
	margin-top: 2%
	}
	.shop-tanks {
	width: 85%;
	margin-top: 2%
	}
	.shop-leggings {
	width: 85%;
	margin-top: 2%
	}
	.shop-jackets {
	width: 85%;
	margin-top: 2%
	}
	.wonder {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	background-position: relative;	
	}
	footer section div {
		width: 100%;
	}
	}
@media only screen and (max-width: 1920px){
		.about {
		width: 70%;
		}
	}
@media only screen and (max-width: 1640px){
		.row {
		margin-top: 30px;
		margin-bottom: 30px;
		}
		.mid-image{
		width: 24%;
		margin-left: 0%;
		margin-right: 0%;
		}

		#copy {
		visibility: hidden;
		display: block;
		clear: both;
		height: 0;
		font-size: 0;
		list-style-type: none;
		text-align: left;
		padding-left: 10%;
		}
		#contact {
		color: white;
		text-decoration: none;
		padding-left: 10%;
		}
		#terms {
		color: white;
		text-decoration: none;
		padding-left: 10%;
		}
		#two-column {
		background-color: #ffb7cf;
		border: 1px black solid;
		padding: 20px;
		}
		#left {
		background-color: #E582A2;
		border:1px black solid;
		padding: 20px;
		float: left;
		width: 45%;
		}
		#cr{
			padding-left: 10%;
		}
		.clearfix:after {
    	visibility: hidden;
   	 	display: block;
   		font-size: 0;
    	content: " ";
    	clear: both;
    	height: 0;
    	padding: 5px;
    	margin: 0px;
    	background: #aaaaaa;
		}
		.sign_up_button{
		text-align: left;
		position: relative;
		background-position: relative;
		margin-top: 25px;
		margin-bottom: 20px;
		margin-left: 15%;
		margin-right: 10%;
		}
hr {
	margin-bottom:10px;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	color:000000;
	}
@media only screen and (min-width: 200px) and (max-width: 480px)
	{
		.nav ul li a {
		font-size: 1em;
		margin-right: 2.9em;
		margin-left: 2.9em;
		padding: 0;
		text-align: center;
		text-decoration: none;
		float: none;
		list-style: none;
		}
		.shop-bras {
		width: 100%;
		text-align: center;
		}
		.shop-tanks {
		width: 100%;
		text-align: center;
		}
		.shop-leggings {
		width: 100%;
		text-align: center;
		}
		.shop-jackets {
		width: 100%;
		text-align: center;
		}
		.row {
		float: none;
		height: 5%;
		}
		.col-3 mid-image {
		width: ;
		}
		.about {
		column-width: 90%;
		}
	nav { 
		display: none;
		position: absolute;
		}
 		.about {
 		display: none;
		 }
	 h2 {
 	display: none;
		}
 		.bullet {
 		display: none;
		}
 		.sign_up_button {
 		display: none;
 		}
 		.row {
 		display: none;
		 }
		}
